.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .list {
        &>ul, ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;
            font-size: 1.125em;
            &>li {
                padding: 1em .2em;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                &:hover {
                    background: #fffef6;
                }
                .tag {
                    margin-left: 2em;
                }
                &>a {
                    display: block;
                    padding-left: 7em;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;
                    &:hover {
                        color: $aHover;
                    }
                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .875em;
                    margin-right: 0;
                    margin-top: -.1em;
                    border-radius: 3px;
                    color:#714d2c;
                    vertical-align: middle;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    display: inline-block;
                    color: $secondaryColor;
                    font-size: .938em;
                    margin-right: .5em;
                    position: absolute;
                    top:1.125em;
                    left:.5em;
                }
            }
        }
    }
}
.album {
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            @include make_col(3, 1);
            overflow: visible;
            .thumbnail {
                width: 100%;
                max-width: 90%;
                margin: 0 auto 1em;
            }
        }
    }
}
